<h1>
  not-found works!
</h1>
<style>
  div {
    text-align: center;
  }

</style>

<div class="list-group">
  <div class="list-group-item">
    <div class="alert alert-primary" role="alert">
      <kbd>ng --version</kbd> 查看您正在使用哪个版本的CLI：
    </div>
    <div class="alert alert-secondary" role="alert">
      <p>
        <kbd>npm uninstall -g @angular/cli cache clean</kbd>
        <kbd>$ npm install -g @angular/cli@latest</kbd>
      </p>
      <p class="text-right">更新angular cli</p>
    </div>
    <div class="alert alert-success" role="alert">
      <kbd>ng help</kbd> 获得一般帮助：
    </div>
    <div class="alert alert-danger" role="alert">
      <kbd>ng help generate</kbd> 获取特定命令的帮助：
    </div>
  </div>
  <div class="list-group-item">
    <div class="alert alert-warning" role="alert">
      <kbd>ng new my-app</kbd> 生成一个新项目
    </div>
    <div class="alert alert-info" role="alert">
      <kbd>--dry-run</kbd> 查看哪些文件将被创建，但实际上没有做任何事情。
    </div>
    <div class="alert alert-light" role="alert">
      <kbd>--skip-tests</kbd> 不要创建spec文件。
    </div>
    <div class="alert alert-dark" role="alert">
      <kbd>--skip-git</kbd> 不要初始化一个git仓库。
    </div>
    <div class="alert alert-primary" role="alert">
      <kbd>--source-dir</kbd> 源目录的名称
    </div>
    <div class="alert alert-secondary" role="alert">
      <kbd>--routing</kbd>源目录的名称
    </div>
    <div class="alert alert-success" role="alert">
      <kbd>--prefix</kbd> 指定用于组件选择器的前缀。
    </div>
    <div class="alert alert-danger" role="alert">
      <kbd>--style</kbd> 默认为css，但可以设置为scss。
    </div>
    <div class="alert alert-warning" role="alert">
      <kbd>--inline-template</kbd> 为组件使用内联模板，而不是单独的文件
    </div>
  </div>

  <div class="list-group-item">
    <div class="alert alert-info" role="alert">
      <kbd>ng g c unicorn-component</kbd>生成组件
    </div>
    <div class="alert alert-light" role="alert">
      <kbd>ng g c unicorn-component</kbd> 生成服务
    </div>
    <div class="alert alert-dark" role="alert">
      <kbd>ng g pipe my-pipe</kbd> 生成管道
    </div>

    <div class="alert alert-primary" role="alert">
      <kbd>ng g directive my-directive</kbd> 生成指令
    </div>
    <div class="alert alert-secondary" role="alert">
      <kbd>ng g enum some-enum</kbd> 生成枚举
    </div>
    <div class="alert alert-success" role="alert">
      <kbd>ng g module fancy-module</kbd> 生成模块
    </div>
    <div class="alert alert-danger" role="alert">
      <kbd>ng g cl my-class</kbd> 生成一个类
    </div>
    <div class="alert alert-warning" role="alert">
      <kbd>ng g interface my-interface</kbd> 生成一个界面
    </div>
  </div>

  <div class="list-group-item">
    <div class="alert alert-info" role="alert">
      <kbd>ng s</kbd> 运行项目
    </div>
    <div class="alert alert-light" role="alert">
      <kbd>ng s -o</kbd> 在您的默认浏览器中自动服务并打开：
    </div>
    <div class="alert alert-dark" role="alert">
      <kbd>ng s --port 5555</kbd> 服务于不同的端口
    </div>
  </div>


  <div class="list-group-item">
    <div class="alert alert-primary" role="alert">
      <kbd>ng build</kbd> 使用build命令构建您的应用程序
    </div>
    <div class="alert alert-secondary" role="alert">
      <kbd>--target</kbd> 指定构建目标（例如：--target production）。
    </div>
    <div class="alert alert-success" role="alert">
      <kbd>--aot</kbd> 提前编译
    </div>
    <div class="alert alert-danger" role="alert">
      <kbd>--base-href</kbd> 指定要使用的基础href
    </div>
    <div class="alert alert-warning" role="alert">
      <kbd>--deploy-url</kbd> 指定部署网址。
    </div>
    <div class="alert alert-info" role="alert">
      <kbd>--extract-css</kbd> 将全局样式放在CSS文件中，而不是保存在JavaScript中
    </div>
    <div class="alert alert-light" role="alert">
      <kbd>--watch</kbd> 每次文件更改时重建
    </div>
  </div>
  <div>ng eject</div>Angular CLI不再为你的项目做？只需弹出，您就可以使用完整的Webpack配置来调整自己的心愿：
</div>

