<a id="toc">
</a>
<h1>bootstrap</h1>
<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
You can use the mark tag to
<mark>highlight</mark> text.
<del>This line of text is meant to be treated as deleted text.</del>.
<s>This line of text is meant to be treated as no longer accurate.</s>
<ins>This line of text is meant to be treated as an addition to the document.</ins>
<u>This line of text will render as underlined</u>
<strong>rendered as bold text</strong>
<em>rendered as italicized text</em>
An abbreviation of the word attribute is
<abbr title="attribute">attr</abbr>
<abbr title="HyperText Markup Language" class="initialism">HTML</abbr>.is the best thing since sliced bread.
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>

<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in
    <cite title="Source Title">Source Title</cite>
  </footer>
</blockquote>
<blockquote class="blockquote-reverse">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in
    <cite title="Source Title">Source Title</cite>
  </footer>
</blockquote>

<ul class="list-unstyled">
  <li>...</li>
</ul>

<dl class="dl-horizontal">
  <dt>123</dt>
  <dd>456</dd>
</dl>
For example,
<code>&lt;section&gt;</code> should be wrapped as inline. To switch directories, type
<kbd>cd</kbd> followed by the name of the directory.
<br> To edit settings, press
<kbd>
  <kbd>ctrl</kbd> +
  <kbd>,</kbd>
</kbd>

<pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>

<samp>This text is meant to be treated as sample output from a computer program.</samp>