<h1>Material主题</h1>
<mat-card>
  Main Theme:
  <button mat-raised-button color="primary">
    Primary
  </button>
  <button mat-raised-button color="accent">
    Accent
  </button>
  <button mat-raised-button color="warn">
    Warning
  </button>
</mat-card>
<mat-card class="alternate-theme">
  Alternate Theme:
  <button mat-raised-button color="primary">
    Primary
  </button>
  <button mat-raised-button color="accent">
    Accent
  </button>
  <button mat-raised-button color="warn">
    Warning
  </button>
</mat-card>

<br />
<br />
<br />

<button mat-raised-button (click)="isLinear = false" id="toggle-linear">Enable linear mode</button>

<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


<mat-sidenav-container class="example-container" *ngIf="shouldRun">
  <mat-sidenav opened mode="side">Start content</mat-sidenav>
  <mat-sidenav opened mode="side" position="end">End content</mat-sidenav>
  Implicit main content
</mat-sidenav-container>
<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>

<ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose:
    <i>{{animal}}</i>
  </li>
</ol>



<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-card>
  <mat-tab-group [selectedIndex]="2">
    <mat-tab label="Breakfast">
      <h3>Breakfast option</h3>
      <p>Toast /w peanut butter</p>
    </mat-tab>
    <mat-tab label="Lunch">
      <h3>Lunch option</h3>
      <p>Club sandwich</p>
    </mat-tab>
    <mat-tab label="Dinner">
      <h3>Dinner option</h3>
      <p>Lasagna</p>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<mat-card>
  <button mat-button>All</button>
  <button mat-raised-button>Of</button>
  <button mat-raised-button color="primary">The</button>
  <button mat-raised-button color="accent">Buttons</button>
</mat-card>

<mat-card>
  <button mat-fab color="primary">
    <mat-icon>send</mat-icon>
  </button>
  <button mat-mini-fab color="accent">
    <mat-icon>send</mat-icon>
  </button>
</mat-card>

<mat-card>
  <mat-button-toggle-group>
    <mat-button-toggle>Small</mat-button-toggle>
    <mat-button-toggle>Medium</mat-button-toggle>
    <mat-button-toggle>Large</mat-button-toggle>
    <mat-button-toggle disabled>X-Large</mat-button-toggle>
  </mat-button-toggle-group>
</mat-card>

<mat-card>
  <mat-button-toggle-group>
    <mat-button-toggle value="good">
      <mat-icon>thumb_down</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="bad">
      <mat-icon>thumb_up</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-card>

<mat-card>
  <mat-checkbox indeterminate="isIndeterminate">
    Inderterminate
  </mat-checkbox>
  <mat-checkbox [checked]="isChecked">
    Checked already
  </mat-checkbox>
  <mat-checkbox>
    Unchecked
  </mat-checkbox>
</mat-card>

<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="https://source.unsplash.com/random/200x200">
    <mat-card-title>Cards are the best</mat-card-title>
    <mat-card-subtitle>Really, they are!</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://source.unsplash.com/random/800x600">
  <mat-card-content>
    <p>Something pretty...</p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-grid-list cols="3">
    <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
      John
    </mat-grid-tile>
    <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
      Paul
    </mat-grid-tile>
    <mat-grid-tile>
      Ringo
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<mat-card>
  <mat-list>
    <mat-list-item>
      <img mat-list-avatar src="..." alt="Desc 1">
      <h3 mat-line>Title 1</h3>
      <p mat-line>
        <span>An awesome description</span>
      </p>
    </mat-list-item>

    <mat-list-item>
      <img mat-list-avatar src="..." alt="Desc 2">
      <h3 mat-line>Title 2</h3>
      <p mat-line>
        <span>Another awesome description</span>
      </p>
    </mat-list-item>

    <mat-list-item>
      <img mat-list-avatar src="..." alt="Desc 3">
      <h3 mat-line>Title 3</h3>
      <p mat-line>
        <span>Yet another awesome description</span>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card>

<mat-card>
  <mat-slide-toggle>
    Bacon
  </mat-slide-toggle>

  <mat-slide-toggle disabled>
    Ham
  </mat-slide-toggle>

  <mat-slide-toggle [checked]="isChecked">
    Chicken
  </mat-slide-toggle>
</mat-card>

<mat-card>
  <mat-slider></mat-slider>
  <mat-slider disabled></mat-slider>
  <mat-slider value="75"></mat-slider>
</mat-card>