







<input class="form-control" (keydown.enter)="onKeydown($event)">
<input class="form-control" (keyup.control.1)="onKeydown($event)" placeholder="同时按下控件和1键时才会触发事件：">
<input class="form-control" (keydown.a)="onKeydown($event)">
<input class="form-control" (keydown.esc)="onKeydown($event)">
<input class="form-control" (keydown.shift.esc)="onKeydown($event)">
<input class="form-control" (keydown.control)="onKeydown($event)">
<input class="form-control" (keydown.alt)="onKeydown($event)">
<input class="form-control" (keydown.meta)="onKeydown($event)">
<input class="form-control" (keydown.9)="onKeydown($event)">
<input class="form-control" (keydown.tab)="onKeydown($event)">
<input class="form-control" (keydown.backspace)="onKeydown($event)">
<input class="form-control" (keydown.arrowup)="onKeydown($event)">
<input class="form-control" (keydown.shift.arrowdown)="onKeydown($event)">
<input class="form-control" (keydown.shift.control.z)="onKeydown($event)">
<input class="form-control" (keydown.f4)="onKeydown($event)">

<br />
<br />
<input class="form-control" type="text" appRainbow placeholder="颜色和边框改变">

<a href="https://alligator.io/angular/change-detection-strategy/">这样做会指示Angular在这些组件及其子树上只有在传递新引用时才会对变化进行检测，而不是简单地对数据进行变异。</a>
<a href="https://alligator.io/angular/route-guards/">允许授予或删除导航某些部分的访问权限。另一个路径守卫CanDeactivate守卫甚至可以防止用户意外地将组件保留未保存的更改。</a>
<a href="https://alligator.io/angular/ngrx-store-redux-state-management/">在Angular中开始使用ngrx进行Redux风格的状态管理</a>
<a href="https://alligator.io/angular/takeuntil-rxjs-unsubscribe/">声明式使用takeUntil RxJS操作员来管理订阅</a>
<a href="https://alligator.io/angular/drag-drop-ng2-dragula/">APP拖拽效果</a>
<a href="https://alligator.io/angular/firebase-authentication-angularfire2/">在Angular中使用AngularFire2进行Firebase身份验证</a>
<a href="https://alligator.io/angular/introduction-unit-testing/">描述文件的使用</a>
<a href="https://alligator.io/angular/testing-with-spies/">Angular Testing: Using Spies</a>
<a href="https://alligator.io/angular/resizing-images-in-browser-ng2-img-max/">上传的图片文件大小</a>
<a href="https://alligator.io/angular/error-tracking-sentry/">错误搜集</a>
<a href="https://alligator.io/angular/httpclient-interceptors/">拦截器HttpClient</a>
<a href="https://alligator.io/angular/cloud-firestore-angularfire/">您需要拥有Firebase帐户并启用新的数据库。</a>