<a id="toc">
</a>
<h1>bootstrap</h1>
<p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
You can use the mark tag to
<mark>highlight</mark> text.
<del>This line of text is meant to be treated as deleted text.</del>.
<s>This line of text is meant to be treated as no longer accurate.</s>
<ins>This line of text is meant to be treated as an addition to the document.</ins>
<u>This line of text will render as underlined</u>
<strong>rendered as bold text</strong>
<em>rendered as italicized text</em>
An abbreviation of the word attribute is
<abbr title="attribute">attr</abbr>
<abbr title="HyperText Markup Language" class="initialism">HTML</abbr>.is the best thing since sliced bread.
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>

<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in
    <cite title="Source Title">Source Title</cite>
  </footer>
</blockquote>
<blockquote class="blockquote-reverse">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in
    <cite title="Source Title">Source Title</cite>
  </footer>
</blockquote>

<ul class="list-unstyled">
  <li>...</li>
</ul>

<dl class="dl-horizontal">
  <dt>123</dt>
  <dd>456</dd>
</dl>
For example,
<code>&lt;section&gt;</code> should be wrapped as inline. To switch directories, type
<kbd>cd</kbd> followed by the name of the directory.
<br> To edit settings, press
<kbd>
  <kbd>ctrl</kbd> +
  <kbd>,</kbd>
</kbd>

<pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>

<samp>This text is meant to be treated as sample output from a computer program.</samp>


<h1 [hidden]='what'>index</h1>
<button [ngClass]="{'btn btn-success': what}">This is div-btn1</button>

<button type="button" class="btn btn-primary" (click)="changeOff()">false</button>
<button type="button" class="btn btn-danger" (click)="changeOn()">true</button>
<button [attr.aria-label]="what">help</button>
<div [class.text-success]="what">Special</div>
<div [style.font-size]=" what ? '18px' : '30px' ">字体</div>
<button class="btn btn-warning" [disabled]='what'>
  Notification
  <span class="badge badge-info">132</span>
</button>


<!-- ngClass -->
<div class="bad curly special" [class]="test" [style.font-size.px]="what ? 20 : 30">Bad curly</div>
<p class="text-center">NgClass</p>
<div [class.what]="what"></div>
<div class="text-center" [ngClass]="currentClasses">This is NgClass</div>
<div class="special" [class.text-info]="!toggle">This one is not so special</div>
<button type="button" (click)="toggleChange()" [class.btn-info]="!toggle" class="btn">toggle</button>



<!-- ngmodel -->
<input class="form-control" type="text" [value]="inputText" (input)="inputText=$event.target.value">
<input class="form-control" type="text" [(ngModel)]="inputText">
<p>{{inputText}}</p>

<!-- *ngFor -->
<button class="btn btn-danger" (click)="deleteHero()">delete Hero</button>

<button class="btn " (click)="onSave($event)">save</button>

<div class="context">
  <p>list</p>
  <button *ngFor="let hero of heroes" (click)="deleteHero(hero)">{{hero.name}}</button>
</div>

<div class="context" style="margin:50px 0;">
  <h1 class="text-info">ngFor</h1>
  <li class="text-info" *ngFor="let hero of heroes; let i = index let odd = odd" [class.odd]="odd">{{i + 1}}. {{hero.name}}</li>
</div>



<div class="list-group">
  <label>saveable:
    <input type="checkbox" [(ngModel)]="canSave">
  </label>
  <label>modedified:
    <input type="checkbox" [(ngModel)]="!isUnchanged">
  </label>
  <label>special:
    <input type="checkbox" [(ngModel)]="isSpecial">
  </label>
  <button class="btn btn-info" (click)="setCurrentClasses()">Refresh currentClasses</button>

  <div [ngStyle]="currentClasses">
    This div should be {{canSave? "" : "not"}} saveable,{{isUnchanged? "unchanged" : "modified"}} and,{{isSpecial? "" : "not"}}
    special after clicking "Refresh".
  </div>
</div>

<div class="list-group">
  <table class="table">
    <tr *ngFor="let hero of heroes">
      <td>{{hero.id}}</td>
      <td [ngClass]="delete" [style.text-decoration]="lineThrough">{{hero.name}}</td>
      <td>
        <a name="" id="" class="btn btn-primary" href="javascript:;" role="button" (click)="deleteThis()">delete</a>
      </td>
    </tr>
  </table>
</div>

<div class="form-group">
  <div class="form-group-item">
    <input type="text" #phone>
    <button class="btn btn-info" (click)="callPhone(phone.value)">Call </button>
  </div>
  <div class="form-group-item">
    <input type="text" #fax>
    <button class="btn btn-info" (click)="callFax(fax.value)">Fax </button>
  </div>
</div>


<div class="btn-group">
  <button class="btn" (click)="resetHeroes()">Reset</button>
  <button class="btn" (click)="changeIds()">Change</button>
  <button class="btn" (click)="clearTrackByCounts()">Clear</button>
</div>
<div class="box">
  <div #noTrackBy *ngFor="let hero of heroes">{{hero.id}}</div>
  <div id="noTrackByCnt" *ngIf="heroesNoTrackByCount">
    Hero DOM elements change #{{heroesNoTrackByCount}} without trackBy
  </div>
</div>


<div>
  <label *ngFor="let h of heroes">
    <input type="radio" name="heroes" [(ngModel)]="currentHero" [value]="h">{{h.name}}
  </label>
</div>

<div [ngSwitch]="currentHero.emotion">
  <div *ngSwitchCase="'happy'">Are you as confused as {{currentHero.name}}?</div>

  <div *ngSwitchCase="'sad'">Are you as confused as {{currentHero.name}}?</div>

  <div *ngSwitchCase="'confused'">Are you as confused as {{currentHero.name}}?</div>

  <div *ngSwitchCase="'confused'">Are you as confused as {{currentHero.name}}?</div>
  <div *ngSwitchDefault>Are you as confused as {{currentHero.name}}?</div>

</div>

<!-- *ngIf -->
<div [class.hidden]="!isSpecial">1</div>
<div [class.hidden]="isSpecial">2</div>

<div [style.display]="isSpecial ? 'block' : 'none' ">3</div>
<div [style.display]="isSpecial ? 'none' : 'block' ">4</div>


<!-- 类似于路由的指令，直接引用其他模块 -->
<app-list [(size)]="fontSizePx"></app-list>
<div [style.font-size.px]='fontSizePx'>Change Text</div>




<!-- <div [ngStyle]="currentStyles">
  This div is initially italic, normal weight, and extra large (24px).
</div> -->
<a class="to-toc" href="#toc">top</a>

<a name="" id="" class="btn btn-primary|secondary|success|danger|warning|info|light|dark|link" href="#" role="button"></a>


<p [style.background-color]='"darkorchid"'>background</p>

<p [style.font-size.em]='"3"'>Font size</p>

<p [style.font-size.px]='important ?"30":"40"' (click)="importantClick()">Font-size</p>

<p [ngStyle]="mystyles">mystyles</p>

<p [ngStyle]="{ 'background-color': 'red', 'font-size':'50px', 'font-weight':'bold' }">mystyles22</p>

<p [ngStyle]="setMystyles()">setMystyles</p>
<button class="btn btn-info" (click)="setMystyles()">setMystyles</button>

<p [ngClass]="myClasses">NGCLASS</p>

<div class="what-one">whatOne</div>
<div class="what-two">whatTwo</div>
<div class="what-three">whatThree</div>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="15%">Item 1</div>
  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">Item 2</div>
  <div class="item item-3" fxFlex>Item 3</div>
</div>