/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/style/bootstrap.css";
.swiper-container {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
}

.swiper-pagination-bullet {
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background: white;
  width: 16px;
}

